.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 40px;
    padding:30px;

  }
  
  .article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
  
    border-radius: 8px;
 
    padding: 20px;
    border-radius: 10px;
    
    width: 100%;
    max-width: 1500px;
    margin-top: 30px;
  }


  
  .article-content {
    flex: 1;
  }
  .article-content h2 {
    font-size: 40px;
    margin-bottom: 10px;
    background: linear-gradient(to right, orange, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: bold;
  }
  
  .article-content p {
    font-size: 20px;
    padding:0 10%;
    font-family: cursive;
    text-align: justify;
  }
  
  .article-image {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    gap: 30px;
  }
  @media (max-width: 767px) {
    .article {
      flex-direction: column;
      align-items: center;
    }
    .article-container{
      padding:10px;
    }
    .article:nth-child(2){
      flex-direction: column-reverse;
    }
    .article-content>h2{
      margin-top: 10px;
      font-size: 25px;
    }
    .article-content>p{
      padding: 0;
    }
  
    .article-image {
      max-width: 100%;
    }
  }