.footer {
    background: linear-gradient(45deg, orange, yellow);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 20px; */
  }
  
  .logo {
    width: 100px;
    height: auto;
  }
  
  .column {
    flex: 1;
    margin-left: 20px;
  }
  
  .column h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    gap: 30px;
  }
  
  .list li {
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .footer-bottom {
    display: flex;
    
    align-items: center;
    
  }
  
  .footer-bottom p {
    font-size: 14px;
  }
  
  .footer-bottom p:first-child {
    font-weight: bold;
  }
  
  @media (max-width: 767px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .column {
      margin-left: 0;
      margin-top: 20px;
    }
  }
  